.underline {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  margin: 0;
  border-radius: 4px;
  color: #000; 
}
.underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease; 
}


.underline.selected {
  color: blue; 
}
.underline.selected::after {
  background-color: blue; 
}


.underline:hover::after {
  background-color: #000; 
}


.underline.selected:hover::after {
  background-color: blue; 
}


.options {
  display: none; 
  margin-top: 10px; 
}

.underline.selected + .options {
  display: block; 
}


.underline.selected::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px; 
  right: -4px; 
  bottom: -4px; 
  
  border-radius: 4px; 
  z-index: -1; 
}